<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" href="/static/lib/datatables/1.10.15/jquery.dataTables.css">
    <div th:include="admin/common :: head"></div>
    <style type="text/css">
        th {
            text-align: center;
        }

        .table td {
            text-align: center;
        }
    </style>
    <title>免费课程</title>
</head>

<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>课程管理
    <span class="c-gray en">&gt;</span> 免费课程
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="Huialert Huialert-info"><i class="Hui-iconfont">&#xe6a6;</i>表格呈现的数据,课程状态-审核通过,课程-免费,课程未删除</div>

<div class="cl pd-5 bg-1 bk-gray mt-20">

    <span class="l">
		<a class="btn btn-danger-outline radius"  onclick="datadel()" href="javascript:;" >
		<i class="Hui-iconfont">&#xe6e2;</i>批量删除</a>

        <a class="btn btn-secondary-outline radius" th:href="@{/admin/course/courseAdd}">
        <i class="Hui-iconfont">&#xe600;</i>添加课程</a></span>

    <a class="btn btn-success-outline radius"onclick="product_add()" href="javascript:;">
        <i class="Hui-iconfont">&#xe644;</i>导出课程</a></span>

    <a class="btn btn-success-outline radius"onclick="product_add()" href="javascript:;">
        <i class="Hui-iconfont">&#xe645;</i>导入课程</a></span>
    </span>
    <span class="r" >共有数据：
        <div style="display:inline;line-height:31px" th:text="${courseList.size()}+'&nbsp条' "></div>
    </span>
</div>


<div class="page-container">
    <div class="mt-20">
        <table id="sheetList" class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="5"><input type="checkbox" name="" value=""></th>
                <th width="100">课程名称</th>
                <th width="100">课程封面</th>
                <th width="40">教师详情</th>
                <th width="40">类型</th>
                <th width="100">创建时间</th>
                <th width="80">操作</th>
            </tr>
            </thead>

            <tbody>
            <tr  th:each="course,courseList : ${courseList}" >
                <td><input type="checkbox" th:value="${course.id}"  name=""></td>

                <td>
                    <u style="cursor:pointer" class="text-primary" th:text="${course.name}"
                       th:onclick="|course_show('查看课程','/admin/check/courseDetail/${course.id }')|">
                    </u>
                </td>

                <td><img width="100" height="100" class="picture-thumb"th:src="${course.picture}"></td>

                <td ><span class="label label-success radius">
					<a style="text-decoration:none" class="ml-5"
                       th:onclick="|userDetail('教师详情','/admin/user/userDetail/${course.userId }','450','450')|"
                       href="javascript:;" title="教师详情">教师详情</a></span>
                </td>

                <td th:text="${course.subClassifyName}"></td>



                <th class="text-c" th:text="${#dates.format(course.createTime, 'yyyy-MM-dd HH:mm:ss')}"></th>

                <td class="td-manage">

                    <a title="审核" style="text-decoration:none" href="javascript:;"
                       th:onclick="|checkCourse(this,'${course.id}')|"  >
                        <i class="Hui-iconfont">&#xe63c;</i></a>

                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>


<footer th:include="admin/common :: footer"></footer>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>



<script type="text/javascript">

    $(function(){
        //渲染表格
        $('.table-sort').dataTable({

            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0]}// 制定列不参与排序
            ]
        });


    });

    /*课程详情页面*/
    function course_show(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*用户详情页面*/
    function userDetail(title,url,w,h){
        layer_show(title,url,w,h);
    }

    /**
     * 审核课程
     * @param obj
     * @param id
     */

    function checkCourse(obj,id){
        layer.confirm('审核教师资格？',{btn: ['通过','不通过','取消'], shade: false, closeBtn: 0},
            function(index){//通过走这里
                $.ajax({
                    type: "POST",
                    url: "/admin/check/doCheckCourse",
                    async : true,
                    data: {
                        id:id,
                        status:2
                    },
                    success: function(data){
                        debugger;
                        if (data.code === 200){
                            alert("已通过审核，请到课程列表查看!");
                            //layer.msg('已通过审核，请到课程列表查看!',{icon:1,time:2000});
                            $(obj).remove();
                            window.location.reload();

                        }
                        else{
                            $(obj).remove();
                            layer.msg("发生错误!请重新操作！", {icon: 5, time: 2000});
                            window.location.reload();
                        }
                    },
                    error : function(result) {
                        $(obj).remove();
                        window.location.reload();
                        layer.msg("error失败！", {icon: 5, time: 2000});
                    }
                });
            },
            function(index){//不通过走这里
                $.ajax({
                    type: "POST",
                    url: "/admin/check/doCheckCourse",
                    async : true,
                    data: {
                        id:id,
                        status:3
                    },
                    success: function(data){
                        debugger;
                        if (data.code === 200){
                            $(obj).remove();
                            window.location.reload();
                            alert("不通过审核!");
                           // layer.msg('不通过审核!',{icon:1,time:2000});
                        }
                        else{
                            $(obj).remove();
                            layer.msg("发生错误!请重新操作！", {icon: 5, time: 2000});
                            window.location.reload();
                        }
                    },
                    error : function(result) {
                        $(obj).remove();
                        layer.msg("error失败！", {icon: 5, time: 2000});
                        window.location.reload();
                    }
                });
            }

        );

    }






</script>

</body>
</html>