<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teaching.mapper.ConstsClassifyMapper" >
  <resultMap id="BaseResultMap" type="com.teaching.pojo.ConstsClassify" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del" property="del" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="newResultMap" type="com.teaching.pojo.ConstsClassify" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" property="id" jdbcType="INTEGER" />
    <result column="pname" property="name" jdbcType="VARCHAR" />

      <collection property="sub" ofType="com.teaching.pojo.ConstsClassify">
          <id column="cid" property="id" jdbcType="INTEGER" />
          <result column="cname" property="name" jdbcType="VARCHAR" />

      </collection>
  </resultMap>

  <select id="getTree" resultMap="newResultMap">
    select t1.id pid,t1.name pname,t2.id cid,t2.name cname from consts_classify t1 LEFT JOIN consts_classify t2
    ON t1.id=t2.parent_id WHERE t2.parent_id &lt;&gt; 0
  </select>




</mapper>